body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eae6e1;
  color: #333;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #eae6e1;
}

.hero-bcg img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
  margin-bottom: 30px;
}

.bcg-matriz {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.bcg-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.bcg-header {
  background-color: #C20000;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

.bcg-cell {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  text-align: left;
}
.centrado {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}



